<div style="text-align: center; padding: 20px;">
  <span class="title">Your Investments</span>
</div>
<div style="text-align: center; padding: 20px;">
  <%= link_to "Add a New Investment", etfs_path, class: "simulate-now-button btn-lg" %>
</div>
<div class= "d-flex justify-content-evenly">
  <ul class="list-group mx-5" style="width: 50%;">
    <% @investments.each do |investment| %>
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to investment.name, investment_path(investment), class: "text-decoration-none" %>
        <div class="input-group d-flex justify-content-end align-items-center">
          <div class="edit-button">
            <%= form_with url: toggle_compared_investment_path(investment), method: :patch, local: true do |form| %>
              <%= form.submit investment.compared ? 'Remove comparison' : 'Add comparison', class: 'simulate-now-button btn-sm mx-1' %>
            <% end %>
          </div>
          <div class="delete-button">
            <%= link_to 'Delete', investment_path(investment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this investment?"}, class: 'simulate-now-button btn-sm text-white', style: 'background-color: red;' %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </ul>
</div>
<%= render 'shared/compare_investments' %>

    <div class="edit-button">
    <%= link_to 'Interactive Brokers', "https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiawfbCjouKAxUO1hYFHXowH2IYABAAGgJ0bA&co=1&ase=2&gclid=CjwKCAiA0rW6BhAcEiwAQH28IsOrG89UOaLypdXWZSVwA2y1WF0v_qtEY300Ej4xxrCAFW_2euo5OBoCVXIQAvD_BwE&ohost=www.google.com&cid=CAESVOD2ws4U3JPj4_ENJLx9AyGefJEY3n4ZdJ3dKX2fm7xt8rvI3rcABlqTCKdFlSRHtldfo5hrcSpPpDWqL90aOp1hLbzbHr5VwbA-tLgjZdtRjn1ebw&sig=AOD64_1uDU-OFzxjMTMYwaiZiqDz1Qi1Kg&q&nis=4&adurl&ved=2ahUKEwjshfHCjouKAxX31jQHHeyLJYcQ0Qx6BAgNEAE", class: "simulate-now-button interactive-brokers-link", target: "_blank" %>
    </div>


<style>
  .edit-button .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Optional: Adjust as needed */
  }

  .edit-button .btn:hover {
    background-color: #0056b3; /* Darker shade of blue */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  .edit-button .btn:active {
    background-color: #004080;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .edit-button .interactive-brokers-link {
    margin: 10px 0;
  }
</style>
